.venv/
hello_cuda/cuda_hello
hello_cuda/cuda_hello.o
hello_cuda/cuda_hello1
hello_cuda/cuda_hello1.o
hello_cuda/cuda-repo-wsl-ubuntu-13-2-local_13.2.0-1_amd64.deb
hello_cuda/deviceQuery
hello_cuda/deviceQuery.o
gpu-specs-check
cuda-integrators/cuda_trap1
cuda-integrators/cuda_trap1.o
cuda-integrators/cuda_trap2
cuda-integrators/cuda_trap2.o
cuda-integrators/cuda_trap2b
cuda-integrators/cuda_trap2b.o
cuda-integrators/cuda_trap3
cuda-integrators/cuda_trap3.o
cuda-integrators/cuda_trap3b
cuda-integrators/cuda_trap3b.o
cuda-integrators/trap
cuda-integrators/trap.o
functiongen/csvtostatic
functiongen/csvtostatic.o
functiongen/timeinterp
functiongen/timeinterp.o
functiongen/timeprofiles
functiongen/timeprofiles_omp
functiongen/timeprofiles.o
functiongen/interop-output-10ps.csv
exercise4.html
exercise4.quarto_ipynb_1
exercise4.quarto_ipynb_2
exercise4.quarto_ipynb_3
*.ipynb
hello_cluster/chatgptseqtrain
hello_cluster/chatgpttrain
hello_cluster/compare
hello_cluster/greetings
hello_cluster/greetingscpp
hello_cluster/hybridcompare
hello_cluster/mpi_array
hello_cluster/piseriesreduce
hello_cluster/piseriessimp
hello_cluster/rankmul
hello_cluster/rankmulallreduce
hello_cluster/rankscattergather
hello_cluster/ranksum
hello_cluster/ranksumall
hello_cluster/ranksumallreduce
hello_cluster/ranksumbutterfly
hello_cluster/ranksumfan
hello_cluster/ranksumreduce
hello_cluster/ranksumtree
hello_cluster/mpi_train
